<app-menu></app-menu>
<div class="text-center" *ngIf="isLogged; else loggedOut">
  <h2>Ya has iniciado session</h2>
</div>

<ng-template #loggedOut>
  <div class="container d-flex justify-content-center">
    <div class="card">
      <!--car-header-->
      <div class="card-header">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/record">Record</a>
          </li>
        </ul>
      </div>
      <!--car-body-->
      <div class="card-body">
        <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
          <div class="form-group">
            <label for="nameUser">Username</label>
            <input type="text" name="nameUser" id="nameUser" class="form-control" [(ngModel)]="nameUser" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password" required>
          </div>
          <div class="form-group">
            <button class="btn btn-outline-success btn-block" [disabled]="!f.valid"><i class="fas fa-sign-in-alt"></i> Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
