<app-menu></app-menu>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-4 mx-auto">
      <!--formulario-->
      <form (ngSubmit)="onCreate()" novalidate #f= "ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name" required>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="number" class="form-control" id="price" name="price" [(ngModel)]="price" required>
        </div>
        <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
          <i class="fas fa-plus-circle"></i> Create
        </button>
        <button class="btn btn-outline-primary btn-block" routerLink="/list">
          <i class="fas fa-arrow-circle-left"></i> To Return
        </button>
      </form>
    </div>
  </div>
</div>
