<app-menu></app-menu>
<div class="container text-center">
  <div *ngIf="isLogged; else loggedOut"><h2>Welcome {{userName}}</h2></div>
  <ng-template #loggedOut>You are not logged in</ng-template>
</div>
